@font-face {
  font-family: 'Proxiima Nova';
  src: url("../fontis1/ProximaNovaBold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Proxiima Nova';
  src: url("../fontis1/ProximaNovaSemibold.otf") format("opentype");
  font-weight: 600; }
@font-face {
  font-family: 'Proxiima Nova';
  src: url("../fontis1/ProximaNovaRegular.otf") format("opentype");
  font-weight: 400; }
.footer__nav__link, .footer__link__max__carte {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear; }

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #023047;
  outline: none; }

button {
  border: none;
  outline: none; }

ul {
  list-style-type: none; }

label {
  cursor: pointer; }

body {
  font-family: 'Proxiima Nova';
  color: #023047;
  font-weight: 600;
  font-size: 16px; }

.continir {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px; }

button {
  border: none;
  cursor: pointer;
  outline: none; }

#slick-slide-control01 {
  display: none; }

#slick-slide-control00 {
  display: none; }

#slick-slide-control02 {
  display: none; }

#slick-slide-control10 {
  display: none; }

#slick-slide-control12 {
  display: none; }

#slick-slide-control11 {
  display: none; }

.kampane__none__maxcart {
  display: none; }

/*======header-start======*/
.header {
  max-width: 1440px;
  margin: 0 auto; }
  .header__wripper {
    margin-top: -14px;
    padding: 23px  170px 17px 170px; }
  .header__carte1 {
    margin-left: 45px;
    margin-top: 21px; }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header_nav__email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 39px;
    margin-top: -22px; }
    .header_nav__email li + li {
      margin-left: 13.47px; }
  .header__nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #b4c1c8;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    color: #023047;
    transition: 0.5s ease-in-out background-color,0.5s ease-in-out color; }
    .header__nav__link:focus {
      background-color: #219EBC;
      color: #FFFFFF; }
    .header__nav__link:hover {
      background-color: #219EBC;
      color: #FFFFFF; }
  .header__carte__pod {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__boredr {
    border-bottom: 1px solid rgba(2, 48, 71, 0.2);
    align-items: center;
    margin-top: 8px; }
  .header__cart__tel__email {
    display: flex;
    margin-right: 45px; }
    .header__cart__tel__email img {
      margin-right: 10px;
      object-fit: contain; }
    .header__cart__tel__email a {
      color: #023047;
      font-size: 16px;
      line-height: 26px;
      width: 140px;
      font-weight: 600; }
  .header__button__max {
    margin-top: -18px;
    border: none;
    outline: none; }
  .header__button1__max {
    margin-top: -14px; }
  .header__button1 {
    width: 160px;
    height: 40px;
    background: #219EBC;
    border: none;
    text-transform: uppercase;
    margin-top: -10px;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 15px;
    margin-right: 27px;
    font-weight: 600;
    color: #FFFFFF; }
  .header__nav__ru__uz {
    display: flex;
    align-items: center;
    margin-top: -23px;
    margin-left: -1px;
    margin-right: 24px; }
    .header__nav__ru__uz li + li {
      margin-left: 9px; }
  .header__nav_a1ru {
    color: #829EAC;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 600px;
    transition: 0.5s ease-in-out color; }
    .header__nav_a1ru:focus {
      color: #219EBC;
      border-bottom: 1px solid #219EBC; }
    .header__nav_a1ru:hover {
      color: #219EBC;
      border-bottom: 1px solid #219EBC; }
  .header__button__carte {
    background: #17A751;
    width: 142px;
    text-transform: uppercase;
    height: 40px;
    margin-top: -10px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    border: none; }
  .header__menu__nav {
    display: flex;
    margin-top: 13px;
    padding-left: 55px; }
    .header__menu__nav li + li {
      margin-left: 63px; }
  .header__menu__link {
    color: #023047;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out color; }
    .header__menu__link:focus {
      color: #219EBC; }
    .header__menu__link:hover {
      color: #219EBC; }
  .header__chekboxmax {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 113px; }
  .header__chekbox {
    position: fixed;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none; }
  .header__cek__cart {
    background-image: url(../foto/chik__logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 257px;
    padding: 26px 36px; }
  .header__chk__title__h3 {
    color: #17A751;
    font-weight: 600;
    font-size: 26px;
    padding-top: 18px;
    line-height: 28px;
    text-align: center; }
  .header__chik__link__max {
    max-width: 40px;
    margin: 0 auto;
    padding-top: 20px; }
  .header__chek__metok__x_max {
    position: absolute;
    right: 170px;
    top: 37px;
    cursor: pointer; }
  .header__cart__burger {
    display: none; }

#chik_max {
  display: none; }

#chik_max:checked ~ .header__chekbox {
  display: block;
  position: fixed;
  z-index: 9999999999990; }

/*======header-end======*/
/*======o kampane start01======*/
.o_kampane {
  background-image: url(../foto/o__kampane.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 64px;
  height: 195px; }
  .o_kampane__pro {
    max-width: 1440px;
    margin: 0 auto; }
  .o_kampane__top {
    max-width: 227px;
    margin: 0 auto; }
  .o_kampane__title__h2 {
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 44px;
    line-height: 55px;
    margin-left: -22px;
    font-weight: 800; }
  .o_kampane__nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 219px;
    margin-left: -6px;
    padding-top: 10px; }
  .o_kampane__link___ul {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 34px;
    font-weight: normal; }
  .o_kampane__link___ul__svg img {
    margin-left: -2px; }

/*======o kampane end01=====*/
/*=======contacts start=======*/
.contacts__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.contacts__linl__max {
  color: #023047;
  font-size: 22px;
  line-height: 69px;
  font-weight: 600; }
.contacts__menu__car1::before {
  content: "";
  display: inline-block;
  background-image: url(../foto/tel001.png);
  width: 20px;
  margin-right: 19px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover; }
.contacts__menu__car2::before {
  content: "";
  display: inline-block;
  background-image: url(../foto/email1.png);
  width: 20px;
  margin-right: 19px;
  height: 15.71px;
  background-repeat: no-repeat; }
.contacts__menu__car3::before {
  content: "";
  display: inline-block;
  background-image: url(../foto/metka.png);
  width: 21.46px;
  margin-right: 15.9px;
  height: 20px;
  background-repeat: no-repeat; }
.contacts__title__h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
  color: #023047;
  padding-bottom: 21px; }
.contacts__input {
  width: 488px;
  height: 40px;
  background-color: rgba(2, 48, 71, 0.08);
  padding: 10px 19px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  color: #AAB0B4;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal; }
  .contacts__input::placeholder {
    color: #AAB0B4;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal; }
.contacts__textarea {
  width: 488px;
  height: 100px;
  background-color: rgba(2, 48, 71, 0.08);
  padding: 10px 19px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  resize: none;
  color: #AAB0B4;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal; }
  .contacts__textarea::placeholder {
    color: #AAB0B4;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal; }
.contacts__button {
  width: 488px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #219EBC;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center; }
.contacts__png {
  width: 100%;
  margin-top: 80px; }
  .contacts__png img {
    height: 500px;
    width: 100%;
    object-fit: cover; }

/*=======contacts end=======*/
/*=======footer start======*/
.footer {
  background-color: #023047;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -3px;
  height: 284px; }
  .footer__top {
    padding-top: 60px;
    display: flex;
    justify-content: space-between; }
  .footer__carte {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__title__h3__cart {
    color: #219EBC;
    font-size: 12px;
    line-height: 64px;
    text-transform: uppercase;
    padding-right: 18px;
    margin-top: -9px; }
    .footer__title__h3__cart span {
      color: #FFFFFF;
      font-size: 16px;
      padding-left: 8px; }
  .footer__carte__pod__max {
    display: flex;
    align-items: center; }
  .footer_nav__email {
    display: flex;
    align-items: center;
    margin-top: -19px; }
    .footer_nav__email li + li {
      margin-left: 20px; }
  .footer__nav__link {
    background-color: rgba(255, 255, 255, 0.2);
    width: 34px;
    font-size: 21px;
    line-height: 27px;
    border: none;
    color: #FFFFFF;
    outline: none;
    border-radius: 100px;
    height: 34px; }
    .footer__nav__link:hover {
      background-color: #219EBC;
      color: #023047; }
    .footer__nav__link:focus {
      background-color: #219EBC;
      color: #023047; }
  .footer__carte__max__pod__email {
    margin-left: 73px;
    margin-top: 10px; }
  .footer__link__max__carte {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 47px; }
    .footer__link__max__carte:hover {
      color: #219EBC; }
  .footer__carte__link__pod {
    display: flex;
    align-items: center;
    margin-top: -4px;
    margin-right: 0px; }
  .footer__carte__link__pod2003 {
    margin-right: 106px; }
  .footer__sos__grup {
    margin-top: 50px;
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between; }
  .footer__link__max__cartesos {
    color: #90B0C0;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal; }
  .footer__sos__grup__max {
    background-color: #022A3F;
    width: 100%;
    height: 77px; }

/*=======footer ent======*/
@media (max-width: 1390px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 150px 17px 150px; }

  .continir {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px; }

  .contacts__png img {
    height: 500px;
    width: 100%;
    object-fit: cover; } }
@media (max-width: 1330px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 130px 17px 130px; }

  .continir {
    padding-left: 130px;
    padding-right: 130px; } }
@media (max-width: 1290px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 100px 17px 100px; }

  .continir {
    padding-left: 100px;
    padding-right: 100px; } }
@media (max-width: 1240px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 80px 17px 80px; }

  .continir {
    padding-left: 80px;
    padding-right: 80px; } }
@media (max-width: 1220px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 70px 17px 70px; }

  .continir {
    padding-left: 70px;
    padding-right: 70px; } }
@media (max-width: 1200px) {
  .header__carte1 {
    display: none; }

  .header__cart__burger {
    display: block; }

  .header__cart__burger label i {
    font-size: 30px;
    color: #219EBC; }

  #chek {
    display: none; }

  #chek:checked ~ .chek__burger {
    display: block; }

  .chek__burger {
    position: fixed;
    z-index: 9999999999999;
    padding: 50px;
    width: 40%;
    right: 0px;
    display: none;
    top: 0px;
    height: 100vh;
    background-color: rgba(1, 34, 50, 0.85); }

  .chek__burger__max {
    position: absolute;
    right: 0;
    top: 0; }

  .header__menu__link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out color; }

  .header__button1__max {
    position: absolute;
    bottom: -80px; }

  .header__nav__ru__uz {
    display: flex;
    top: 150px;
    right: 40px;
    align-items: center;
    position: absolute; }

  .header__button1 {
    display: none; }

  .header_nav__email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    bottom: 60px;
    position: absolute;
    margin-top: -169px; }

  .header__burger__cart__mac__pod {
    margin-top: 95px; }

  .chek__burger__max {
    display: flex;
    margin-top: 70px;
    position: initial;
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start; }

  .header__nav_a1ru {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 600px;
    transition: 0.5s ease-in-out color; }

  .header__cart__tel__email a {
    color: #ffffff;
    font-size: 16px;
    line-height: 29px;
    width: 140px;
    font-weight: 600; }

  .header__button__carte {
    background: #17A751;
    width: 142px;
    text-transform: uppercase;
    height: 40px;
    position: absolute;
    margin-top: -236px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    border: none; }

  .header__button__max {
    margin-top: 159px;
    border: none;
    position: absolute;
    outline: none; }

  .header__cart__tel__email {
    display: flex;
    margin-right: 32px;
    position: relative; }

  .headre__max__link__cik {
    position: absolute;
    margin-top: -4px; }

  .header__chek__metok__max {
    position: absolute;
    left: 50px; }

  .header__chek__metok__max label img {
    width: 30px; }

  .chek__burger {
    width: 50%; }

  .contacts__input {
    width: 450px;
    height: 40px; }

  .contacts__textarea {
    width: 450px;
    height: 100px; }

  .contacts__button {
    width: 450px;
    height: 50px; }

  .o_kampane__title__h2 {
    font-size: 40px;
    padding-top: 44px;
    line-height: 55px;
    margin-left: 0px; }

  .o_kampane__nav__ul {
    width: 219px;
    margin-left: 0px; } }
@media (max-width: 1150px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 50px 17px 50px; }

  .continir {
    padding-left: 50px;
    padding-right: 50px; } }
@media (max-width: 1100px) {
  .contacts__linl__max {
    font-size: 21px;
    line-height: 69px;
    font-weight: 600; }

  .contacts__input {
    width: 430px;
    height: 40px; }

  .contacts__textarea {
    width: 430px;
    height: 100px; }

  .contacts__button {
    width: 430px;
    height: 50px; } }
@media (max-width: 1055px) {
  .continir {
    padding-left: 40px;
    padding-right: 40px; }

  .header__wripper {
    margin-top: -14px;
    padding: 23px 40px 17px 40px; }

  .chek__burger {
    width: 60%; } }
@media (max-width: 1030px) {
  .contacts__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: -25px;
    max-width: 514px; }

  .contacts__input {
    width: 488px;
    height: 40px; }

  .contacts__textarea {
    width: 488px;
    height: 100px; }

  .contacts__button {
    width: 488px;
    height: 50px; }

  .o_kampane {
    margin-bottom: 20px;
    height: 160px; }

  .o_kampane__title__h2 {
    font-size: 38px;
    padding-top: 31px;
    line-height: 55px;
    margin-left: 0px; } }
@media (max-width: 870px) {
  .footer__top {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 460px;
    margin: 0 auto;
    align-items: flex-end; }

  .footer__carte__link__pod2003 {
    margin-right: 75px; }

  .footer {
    margin-top: -3px;
    height: 440px; }

  .footer__link__max__cartesos {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal; } }
@media (max-width: 640px) {
  .footer__sos__grup {
    margin-top: 50px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }

  .header__chek__metok__x_max {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer; }

  .footer__link__max__cartesos {
    font-size: 14px;
    line-height: 33px;
    font-weight: normal; }

  .chek__burger {
    width: 70%; }

  .footer__carte {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
    flex-direction: column; }

  .footer__carte__link__pod {
    display: flex;
    align-items: center;
    margin-top: -4px;
    margin-right: 0px; }

  .footer__top {
    padding-top: 60px;
    display: flex;
    max-width: 460px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column; }

  .footer__carte__max__pod__email {
    margin-left: 0px;
    margin-top: 10px; }

  .footer {
    margin-top: -3px;
    height: 560px; }

  .contacts__input {
    width: 450px;
    height: 40px; }

  .contacts__textarea {
    width: 450px;
    height: 100px; }

  .contacts__button {
    width: 450px;
    height: 50px; } }
@media (max-width: 590px) {
  .contacts__linl__max {
    font-size: 21px;
    text-align: center;
    line-height: 69px;
    font-weight: 600; }

  .contacts__cart__menu {
    text-align: center; }

  .contacts__cart2 {
    max-width: 450px;
    margin: 0 auto; }

  .contacts__menu__car3::before {
    content: "";
    display: flex;
    width: 21.46px;
    margin-right: 15.9px;
    height: 20px;
    margin-left: 228px;
    background-repeat: no-repeat; }

  .contacts__menu__car2::before {
    content: "";
    display: flex;
    background-image: url(../foto/email1.png);
    width: 20px;
    margin-right: 19px;
    margin-left: 228px;
    height: 15.71px;
    background-repeat: no-repeat; }

  .contacts__menu__car1::before {
    content: "";
    display: flex;
    background-image: url(../foto/tel001.png);
    width: 20px;
    margin-right: 19px;
    height: 20px;
    margin-left: 228px;
    background-repeat: no-repeat;
    background-size: cover; }

  .contacts__title__h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 21px; } }
@media (max-width: 530px) {
  .header__wripper {
    margin-top: -14px;
    padding: 23px 20px 17px 20px; }

  .continir {
    padding-left: 20px;
    padding-right: 20px; }

  .contacts__input {
    width: 440px;
    height: 40px; }

  .contacts__textarea {
    width: 440px;
    height: 100px; }

  .contacts__button {
    width: 440px;
    height: 50px; }

  .o_kampane {
    margin-bottom: 20px;
    height: 110px; }

  .o_kampane__title__h2 {
    font-size: 30px;
    padding-top: 31px;
    line-height: 17px;
    margin-left: 0px; } }
@media (max-width: 490px) {
  .contacts__menu__car1::before {
    margin-left: 215px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 215px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    content: "";
    display: flex;
    width: 21.46px;
    margin-right: 15.9px;
    height: 20px;
    margin-left: 215px;
    background-repeat: no-repeat; } }
@media (max-width: 480px) {
  .contacts__textarea {
    width: 400px;
    height: 100px; }

  .contacts__input {
    width: 400px;
    height: 40px; }

  .contacts__button {
    width: 400px;
    height: 50px; }

  .contacts__cart2 {
    max-width: 410px;
    margin: 0 auto; }

  .chek__burger {
    width: 100%; }

  .contacts__title__h2 {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 21px; }

  .header__wripper {
    margin-top: -14px;
    padding: 16px 20px 2px 20px; } }
@media (max-width: 440px) {
  .contacts__input {
    width: 370px;
    height: 40px; }

  .contacts__textarea {
    width: 370px;
    height: 100px; }

  .contacts__button {
    width: 370px;
    height: 50px; }

  .contacts__png img {
    height: 400px;
    width: 100%;
    object-fit: cover; }

  .contacts__menu__car1::before {
    margin-left: 188px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 188px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    margin-left: 188px; } }
@media (max-width: 410px) {
  .contacts__menu__car1::before {
    margin-left: 170px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 170px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    margin-left: 170px; }

  .contacts__textarea {
    width: 340px;
    height: 100px; }

  .contacts__button {
    width: 340px;
    height: 50px; }

  .contacts__input {
    width: 340px;
    height: 40px; } }
@media (max-width: 375px) {
  .contacts__input {
    width: 300px;
    height: 40px; }

  .contacts__textarea {
    width: 300px;
    height: 100px; }

  .contacts__button {
    width: 300px;
    height: 50px; }

  .footer__link__max__cartesos {
    font-size: 12px;
    line-height: 33px; }

  .contacts__menu__car1::before {
    margin-left: 150px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 150px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    margin-left: 150px; }

  .header__logo__svg img {
    width: 220px; } }
@media (max-width: 340px) {
  .o_kampane__title__h2 {
    font-size: 28px;
    padding-top: 27px;
    line-height: 15px;
    margin-left: 0px; }

  .o_kampane {
    margin-bottom: 20px;
    height: 99px; }

  .contacts__title__h2 {
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 11px; }

  .contacts__input {
    width: 260px;
    height: 40px; }

  .contacts__textarea {
    width: 260px;
    height: 100px; }

  .contacts__button {
    width: 260px;
    height: 50px; }

  .contacts__linl__max {
    font-size: 21px;
    text-align: center;
    line-height: 60px;
    font-weight: 600; }

  .contacts__menu__car1::before {
    margin-left: 135px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 135px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    margin-left: 135px; }

  .footer__link__max__cartesos {
    font-size: 11px;
    line-height: 33px; } }
@media (max-width: 320px) {
  .header__logo__svg img {
    width: 200px; }

  .contacts__png img {
    height: 300px;
    width: 100%;
    object-fit: cover; }

  .contacts__menu__car1::before {
    margin-left: 130px; }

  .contacts__menu__car2::before {
    margin-right: 19px;
    margin-left: 130px;
    height: 15.71px; }

  .contacts__menu__car3::before {
    margin-left: 130px; } }

/*# sourceMappingURL=contacts.css.map */
