@font-face{
    font-family: 'Proxiima Nova';
    src: url('../fontis1/ProximaNovaBold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fontis1/ProximaNovaSemibold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fontis1/ProximaNovaRegular.otf') format("opentype");
    font-weight: 400;
}
